<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="Unofficial ABB Relays Offline Configurator"
           Manufacturer="zikuan wang"
           Version="$(var.ProductVersion)"
           UpgradeCode="{F1DF6DF5-78C1-4F93-A604-179652719948}"
           Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Unofficial ABB Relays Offline Configurator is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="ProductIcon.ico" SourceFile="$(var.AppIconPath)" />
    <Property Id="ARPPRODUCTICON" Value="ProductIcon.ico" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <ui:WixUI Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.UserDeclarationRtfPath)" />

    <Feature Id="MainFeature" Title="Unofficial ABB Relays Offline Configurator" Level="1">
      <ComponentGroupRef Id="PublishedAppFiles" />
      <ComponentRef Id="StartMenuShortcutComponent" />
      <ComponentRef Id="DesktopShortcutComponent" />
    </Feature>

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Unofficial ABB Relays Offline Configurator" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Unofficial ABB Relays Offline Configurator" />
    </StandardDirectory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcutComponent" Guid="{9296DAE2-4630-4F35-94C6-EED99D2F1F7C}">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Unofficial ABB Relays Offline Configurator"
                  Icon="ProductIcon.ico"
                  Target="[INSTALLFOLDER]AbbRelaysOfflineConfigurator.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU"
                       Key="Software\ZikuanWang\ABBRelaysOfflineConfigurator"
                       Name="Installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <StandardDirectory Id="DesktopFolder">
      <Component Id="DesktopShortcutComponent" Guid="{A9E8D234-6D04-42B0-AFE1-72B9557B42B8}">
        <Shortcut Id="ApplicationDesktopShortcut"
                  Name="Unofficial ABB Relays Offline Configurator"
                  Icon="ProductIcon.ico"
                  Target="[INSTALLFOLDER]AbbRelaysOfflineConfigurator.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU"
                       Key="Software\ZikuanWang\ABBRelaysOfflineConfigurator"
                       Name="DesktopShortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </StandardDirectory>
  </Package>
</Wix>
